---
---

@import "{{ site.theme }}";

/* RMAS customizations */

.wrapper {
  max-width: 900px;
}

section {
  max-width: 900px;
}

#header {
  max-width: 900px;
}

#footer {
  max-width: 900px;
}
/* Tighten site header and content spacing */
header {
  padding-bottom: 0 !important;
  margin-bottom: 20px !important;
}

section {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
