---
---

@import "{{ site.theme }}";

/* RMAS customizations */

.wrapper {
  max-width: 900px;
}

section {
  max-width: 900px;
}

#header {
  max-width: 900px;
}

#footer {
  max-width: 900px;
}
/* Tighten spacing between site header and portfolio content */
header {
  padding-bottom: 15px;
}

section {
  padding-top: 20px;
}
