<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="RMAS | Building Practical Systems with AI">
<meta property="og:description" content="Applied AI, automation, and governance exploring how LLMs and deterministic tools can solve real-world business, risk, and regulatory challenges.">
<meta property="og:image" content="https://sadiqshifa.github.io/RMAS/assets/images/rmas-preview.png">
<meta property="og:url" content="https://sadiqshifa.github.io/RMAS/">
<meta property="og:type" content="website">
    {% seo %}

    <link rel="stylesheet"
          href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>

    <div class="wrapper">

      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>

        {% if site.description %}
          <p>{{ site.description }}</p>
        {% endif %}
      </header>

      <section>
        {{ content }}
      </section>

    </div>

  </body>
</html>
